# 02 — Feature Engineering
Build momentum/volatility/beta features and cache the feature matrix.

In [15]:
import pandas as pd
monthly_stock_data = pd.read_parquet('../data/prices_monthly.parquet')
monthly_stock_data.tail()

Ticker,A,AA,AAL,AAMI,AAOI,AAON,AAP,AAPL,AAT,ABBV,...,ZG,ZION,ZIP,ZM,ZS,ZTS,ZUMZ,ZVRA,ZWS,ZYME
Date,,,,,,,,,,,,,,,,,,,,,
2025-06-30,117.526001,29.409386,11.22,35.232704,25.690001,73.659409,46.064991,204.937408,19.428093,182.713303,...,68.489998,51.506039,5.01,77.980003,313.940002,155.430267,13.260000,8.81,36.497280,12.550000
2025-07-31,114.579918,29.867817,11.49,41.781349,22.870001,83.397430,52.806335,207.334702,18.719828,187.667099,...,76.750000,53.172001,4.20,74.050003,285.559998,145.789993,13.710000,11.11,44.162006,12.560000
2025-08-31,125.408180,32.189999,13.37,50.959446,24.200001,82.848106,60.686989,232.139999,20.559347,208.894058,...,81.480003,58.009998,5.00,81.419998,277.049988,156.399994,17.190001,9.07,45.360001,14.810000
2025-09-30,128.350006,32.889999,11.24,48.160000,25.930000,93.440002,61.094952,254.630005,20.320000,229.882751,...,74.440002,56.580002,4.22,82.500000,299.660004,146.320007,19.610001,9.51,47.029999,17.080000
2025-10-31,146.360001,36.790001,13.13,48.099998,35.560001,98.389999,47.130001,270.369995,19.110001,218.039993,...,71.529999,52.110001,4.65,87.230003,331.140015,144.089996,21.650000,10.18,47.110001,19.084999

In [16]:
returns = monthly_stock_data.pct_change()
returns

/var/folders/st/y2tgd9yj129138_bv71m8m040000gn/T/ipykernel_67158/1172495709.py:1: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  returns = monthly_stock_data.pct_change()

Ticker,A,AA,AAL,AAMI,AAOI,AAON,AAP,AAPL,AAT,ABBV,...,ZG,ZION,ZIP,ZM,ZS,ZTS,ZUMZ,ZVRA,ZWS,ZYME
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-28,0.117553,-0.053242,-0.022065,0.184696,0.395973,0.032095,-0.025598,0.100776,-0.075710,0.002486,...,0.183966,0.117726,NaN,NaN,NaN,0.078633,0.041030,NaN,0.113939,NaN
2015-03-31,-0.013211,-0.126437,0.101879,0.037862,0.112180,0.089738,-0.033435,-0.031372,0.061145,-0.032396,...,-0.125926,0.009723,NaN,NaN,NaN,0.004339,0.036837,NaN,-0.031919,NaN
2015-04-30,-0.004332,0.038700,-0.083195,0.038627,0.028818,-0.022829,-0.044692,0.005787,-0.080407,0.113705,...,-0.026520,0.049630,NaN,NaN,NaN,-0.038675,-0.212174,NaN,-0.007493,NaN
2015-05-31,-0.004351,-0.066510,-0.122592,0.005682,0.250700,-0.012516,0.071469,0.045339,-0.011307,0.029848,...,-0.064011,0.021155,NaN,NaN,NaN,0.120441,-0.058341,0.115942,-0.032843,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,0.054414,0.102353,-0.016652,0.170744,0.666018,-0.233276,-0.030044,0.021509,0.007394,-0.002633,...,0.035061,0.096706,-0.160804,-0.040246,0.138701,-0.075194,0.061649,0.030409,0.010500,0.097988
2025-07-31,-0.025068,0.015588,0.024064,0.185868,-0.109770,0.132203,0.146344,0.011698,-0.036456,0.027112,...,0.120602,0.032345,-0.161677,-0.050398,-0.090399,-0.062023,0.033937,0.261067,0.210008,0.000797
2025-08-31,0.094504,0.077749,0.163621,0.219670,0.058155,-0.006587,0.149237,0.119639,0.098266,0.113110,...,0.061629,0.090988,0.190476,0.099527,-0.029801,0.072776,0.253829,-0.183618,0.027127,0.179140
2025-09-30,0.023458,0.021746,-0.159312,-0.054935,0.071488,0.127847,0.006722,0.096881,-0.011642,0.100475,...,-0.086402,-0.024651,-0.156000,0.013265,0.081610,-0.064450,0.140780,0.048512,0.036817,0.153275
2025-10-31,0.140319,0.118577,0.168150,-0.001246,0.371385,0.052975,-0.228578,0.061815,-0.059547,-0.051517,...,-0.039092,-0.079003,0.101896,0.057333,0.105052,-0.015241,0.104029,0.070452,0.001701,0.117389

In [17]:
mom_feature = pd.concat({
    'mom_1m': returns.rolling(1).sum(),
    'mom_3m': returns.rolling(3).sum(),
    'mom_6m': returns.rolling(6).sum(),
    'mom_12m': returns.rolling(12).sum(),
    'rev_1m': -returns.rolling(1).sum(),
}, axis=1)
mom_feature.head()

              mom_1m                                                    \
Ticker             A        AA       AAL      AAMI      AAOI      AAON
Date
2015-01-31       NaN       NaN       NaN       NaN       NaN       NaN
2015-02-28  0.117553 -0.053242 -0.022065  0.184696  0.395973  0.032095
2015-03-31 -0.013211 -0.126437  0.101879  0.037862  0.112180  0.089738
2015-04-30 -0.004332  0.038700 -0.083195  0.038627  0.028818 -0.022829
2015-05-31 -0.004351 -0.066510 -0.122592  0.005682  0.250700 -0.012516

                                                    ...    rev_1m            \
Ticker           AAP      AAPL       AAT      ABBV  ...        ZG      ZION
Date                                                ...
2015-01-31       NaN       NaN       NaN       NaN  ...       NaN       NaN
2015-02-28 -0.025598  0.100776 -0.075710  0.002486  ... -0.183966 -0.117726
2015-03-31 -0.033435 -0.031372  0.061145 -0.032396  ...  0.125926 -0.009723
2015-04-30 -0.044692  0.005787 -0.080407  0.113705  ...  0.026520 -0.049630
2015-05-31  0.071469  0.045339 -0.011307  0.029848  ...  0.064011 -0.021155


Ticker     ZIP  ZM  ZS       ZTS      ZUMZ      ZVRA       ZWS ZYME
Date
2015-01-31 NaN NaN NaN       NaN       NaN       NaN       NaN  NaN
2015-02-28 NaN NaN NaN -0.078633 -0.041030       NaN -0.113939  NaN
2015-03-31 NaN NaN NaN -0.004339 -0.036837       NaN  0.031919  NaN
2015-04-30 NaN NaN NaN  0.038675  0.212174       NaN  0.007493  NaN
2015-05-31 NaN NaN NaN -0.120441  0.058341 -0.115942  0.032843  NaN

[5 rows x 12775 columns]

In [18]:
vol_6m = returns.rolling(6).std()
idvol_6m = (returns.sub(returns.mean(axis=1), axis=0)).rolling(6).std()
vol_feature = pd.concat({'vol_6m': vol_6m, 'idvol_6m': idvol_6m}, axis=1)
vol_feature.tail()

              vol_6m                                                    \
Ticker             A        AA       AAL      AAMI      AAOI      AAON
Date
2025-06-30  0.106818  0.114079  0.138518  0.082024  0.376255  0.190937
2025-07-31  0.080594  0.114383  0.142696  0.078136  0.363442  0.206196
2025-08-31  0.074251  0.118688  0.156534  0.073893  0.345467  0.141843
2025-09-30  0.061342  0.111635  0.123332  0.103267  0.298890  0.148137
2025-10-31  0.057386  0.043272  0.130411  0.110480  0.275140  0.135187

                                                    ...  idvol_6m            \
Ticker           AAP      AAPL       AAT      ABBV  ...        ZG      ZION
Date                                                ...
2025-06-30  0.245572  0.044520  0.061626  0.071412  ...  0.050288  0.043046
2025-07-31  0.250900  0.045360  0.059102  0.070179  ...  0.056476  0.040020
2025-08-31  0.211130  0.072383  0.074798  0.061810  ...  0.056089  0.041745
2025-09-30  0.214613  0.070935  0.062924  0.072783  ...  0.068955  0.044576
2025-10-31  0.232323  0.063089  0.060401  0.070880  ...  0.068876  0.045094

                                                                        \
Ticker           ZIP        ZM        ZS       ZTS      ZUMZ      ZVRA
Date
2025-06-30  0.132942  0.078916  0.056257  0.064181  0.121811  0.069225
2025-07-31  0.142517  0.079214  0.101245  0.068263  0.100991  0.100044
2025-08-31  0.156618  0.069532  0.120268  0.066385  0.127560  0.163009
2025-09-30  0.147991  0.061879  0.119910  0.057263  0.130129  0.163045
2025-10-31  0.163106  0.058112  0.110919  0.058297  0.075616  0.164028


Ticker           ZWS      ZYME
Date
2025-06-30  0.040811  0.099225
2025-07-31  0.090738  0.099125
2025-08-31  0.088033  0.112135
2025-09-30  0.086715  0.120408
2025-10-31  0.086832  0.120988

[5 rows x 5110 columns]

In [19]:
assert 'SPY' in returns.columns, 'SPY missing from columns'
mr = returns['SPY']
mr

Date
2015-01-31         NaN
2015-02-28    0.056205
2015-03-31   -0.015706
2015-04-30    0.009834
2015-05-31    0.012856
                ...
2025-06-30    0.051386
2025-07-31    0.023032
2025-08-31    0.020520
2025-09-30    0.035620
2025-10-31    0.023837
Name: SPY, Length: 130, dtype: float64

In [20]:
cov = returns.rolling(24).cov(mr)
var = mr.rolling(24).var()
beta_24m = cov.div(var,axis=0)
beta_24m

Ticker,A,AA,AAL,AAMI,AAOI,AAON,AAP,AAPL,AAT,ABBV,...,ZG,ZION,ZIP,ZM,ZS,ZTS,ZUMZ,ZVRA,ZWS,ZYME
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,1.679705,1.903776,1.597988,1.333496,6.406707,1.237310,1.736970,0.770923,1.350853,0.227397,...,2.430737,1.901591,1.621839,1.019956,1.553613,1.098820,0.990993,1.631567,1.233384,1.264668
2025-07-31,1.680370,1.887980,1.645439,1.384830,6.398656,1.224506,1.750024,0.773732,1.266275,0.177408,...,2.440343,1.715085,1.561473,0.976773,1.505569,1.043574,0.937449,1.734127,1.226557,1.350607
2025-08-31,1.735765,1.784271,1.602868,1.387787,7.513642,1.138782,1.744609,0.763581,1.267262,0.161489,...,2.450951,1.692353,1.510195,0.982606,1.487521,1.105470,1.007835,1.756846,1.221617,1.351478
2025-09-30,1.796772,1.931015,1.427787,1.278546,7.884433,1.073972,1.523056,0.681915,1.239761,0.213763,...,2.380600,1.796391,1.254615,1.066995,1.646200,1.036480,1.062832,1.811914,1.225127,1.224517
2025-10-31,1.790562,1.857888,1.320052,0.975955,7.751390,1.027871,1.475753,0.696239,1.162119,0.114225,...,2.149279,1.677531,1.225033,0.893262,1.739927,0.956747,0.992767,1.757298,1.175445,1.409002

In [21]:
beta_24m = beta_24m.drop(columns=['SPY'],errors='ignore')
beta_24m

Ticker,A,AA,AAL,AAMI,AAOI,AAON,AAP,AAPL,AAT,ABBV,...,ZG,ZION,ZIP,ZM,ZS,ZTS,ZUMZ,ZVRA,ZWS,ZYME
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,1.679705,1.903776,1.597988,1.333496,6.406707,1.237310,1.736970,0.770923,1.350853,0.227397,...,2.430737,1.901591,1.621839,1.019956,1.553613,1.098820,0.990993,1.631567,1.233384,1.264668
2025-07-31,1.680370,1.887980,1.645439,1.384830,6.398656,1.224506,1.750024,0.773732,1.266275,0.177408,...,2.440343,1.715085,1.561473,0.976773,1.505569,1.043574,0.937449,1.734127,1.226557,1.350607
2025-08-31,1.735765,1.784271,1.602868,1.387787,7.513642,1.138782,1.744609,0.763581,1.267262,0.161489,...,2.450951,1.692353,1.510195,0.982606,1.487521,1.105470,1.007835,1.756846,1.221617,1.351478
2025-09-30,1.796772,1.931015,1.427787,1.278546,7.884433,1.073972,1.523056,0.681915,1.239761,0.213763,...,2.380600,1.796391,1.254615,1.066995,1.646200,1.036480,1.062832,1.811914,1.225127,1.224517
2025-10-31,1.790562,1.857888,1.320052,0.975955,7.751390,1.027871,1.475753,0.696239,1.162119,0.114225,...,2.149279,1.677531,1.225033,0.893262,1.739927,0.956747,0.992767,1.757298,1.175445,1.409002

In [22]:
beta_24m.columns = [f"beta_24m__{c}" for c in beta_24m.columns]
beta_24m.tail()

,beta_24m__A,beta_24m__AA,beta_24m__AAL,beta_24m__AAMI,beta_24m__AAOI,beta_24m__AAON,beta_24m__AAP,beta_24m__AAPL,beta_24m__AAT,beta_24m__ABBV,...,beta_24m__ZG,beta_24m__ZION,beta_24m__ZIP,beta_24m__ZM,beta_24m__ZS,beta_24m__ZTS,beta_24m__ZUMZ,beta_24m__ZVRA,beta_24m__ZWS,beta_24m__ZYME
Date,,,,,,,,,,,,,,,,,,,,,
2025-06-30,1.679705,1.903776,1.597988,1.333496,6.406707,1.237310,1.736970,0.770923,1.350853,0.227397,...,2.430737,1.901591,1.621839,1.019956,1.553613,1.098820,0.990993,1.631567,1.233384,1.264668
2025-07-31,1.680370,1.887980,1.645439,1.384830,6.398656,1.224506,1.750024,0.773732,1.266275,0.177408,...,2.440343,1.715085,1.561473,0.976773,1.505569,1.043574,0.937449,1.734127,1.226557,1.350607
2025-08-31,1.735765,1.784271,1.602868,1.387787,7.513642,1.138782,1.744609,0.763581,1.267262,0.161489,...,2.450951,1.692353,1.510195,0.982606,1.487521,1.105470,1.007835,1.756846,1.221617,1.351478
2025-09-30,1.796772,1.931015,1.427787,1.278546,7.884433,1.073972,1.523056,0.681915,1.239761,0.213763,...,2.380600,1.796391,1.254615,1.066995,1.646200,1.036480,1.062832,1.811914,1.225127,1.224517
2025-10-31,1.790562,1.857888,1.320052,0.975955,7.751390,1.027871,1.475753,0.696239,1.162119,0.114225,...,2.149279,1.677531,1.225033,0.893262,1.739927,0.956747,0.992767,1.757298,1.175445,1.409002

In [23]:
X_raw = pd.concat([mom_feature,vol_feature],axis=1)
X_raw.tail()

              mom_1m                                                    \
Ticker             A        AA       AAL      AAMI      AAOI      AAON
Date
2025-06-30  0.054414  0.102353 -0.016652  0.170744  0.666018 -0.233276
2025-07-31 -0.025068  0.015588  0.024064  0.185868 -0.109770  0.132203
2025-08-31  0.094504  0.077749  0.163621  0.219670  0.058155 -0.006587
2025-09-30  0.023458  0.021746 -0.159312 -0.054935  0.071488  0.127847
2025-10-31  0.140319  0.118577  0.168150 -0.001246  0.371385  0.052975

                                                    ...  idvol_6m            \
Ticker           AAP      AAPL       AAT      ABBV  ...        ZG      ZION
Date                                                ...
2025-06-30 -0.030044  0.021509  0.007394 -0.002633  ...  0.050288  0.043046
2025-07-31  0.146344  0.011698 -0.036456  0.027112  ...  0.056476  0.040020
2025-08-31  0.149237  0.119639  0.098266  0.113110  ...  0.056089  0.041745
2025-09-30  0.006722  0.096881 -0.011642  0.100475  ...  0.068955  0.044576
2025-10-31 -0.228578  0.061815 -0.059547 -0.051517  ...  0.068876  0.045094

                                                                        \
Ticker           ZIP        ZM        ZS       ZTS      ZUMZ      ZVRA
Date
2025-06-30  0.132942  0.078916  0.056257  0.064181  0.121811  0.069225
2025-07-31  0.142517  0.079214  0.101245  0.068263  0.100991  0.100044
2025-08-31  0.156618  0.069532  0.120268  0.066385  0.127560  0.163009
2025-09-30  0.147991  0.061879  0.119910  0.057263  0.130129  0.163045
2025-10-31  0.163106  0.058112  0.110919  0.058297  0.075616  0.164028


Ticker           ZWS      ZYME
Date
2025-06-30  0.040811  0.099225
2025-07-31  0.090738  0.099125
2025-08-31  0.088033  0.112135
2025-09-30  0.086715  0.120408
2025-10-31  0.086832  0.120988

[5 rows x 17885 columns]

In [24]:
X_raw.columns = ["__".join(map(str, c)) if isinstance(c, tuple) else str(c) for c in X_raw.columns]

In [25]:
def cs_zscore(df):
    return df.apply(lambda row: (row - row.mean()) / (row.std(ddof=1) + 1e-8), axis=1)

X_z = cs_zscore(X_raw)
X = pd.concat([X_z, beta_24m], axis=1).sort_index()
X.tail()

,mom_1m__A,mom_1m__AA,mom_1m__AAL,mom_1m__AAMI,mom_1m__AAOI,mom_1m__AAON,mom_1m__AAP,mom_1m__AAPL,mom_1m__AAT,mom_1m__ABBV,...,beta_24m__ZG,beta_24m__ZION,beta_24m__ZIP,beta_24m__ZM,beta_24m__ZS,beta_24m__ZTS,beta_24m__ZUMZ,beta_24m__ZVRA,beta_24m__ZWS,beta_24m__ZYME
Date,,,,,,,,,,,,,,,,,,,,,
2025-06-30,-0.049419,0.124755,-0.307616,0.373234,2.172669,-1.094658,-0.356271,-0.168971,-0.220252,-0.256682,...,2.430737,1.901591,1.621839,1.019956,1.553613,1.098820,0.990993,1.631567,1.233384,1.264668
2025-07-31,-0.313940,-0.165358,-0.134381,0.456958,-0.623500,0.260831,0.312511,-0.179576,-0.355560,-0.123240,...,2.440343,1.715085,1.561473,0.976773,1.505569,1.043574,0.937449,1.734127,1.226557,1.350607
2025-08-31,0.023469,-0.036853,0.272299,0.474085,-0.107394,-0.340475,0.220516,0.113958,0.037012,0.090452,...,2.450951,1.692353,1.510195,0.982606,1.487521,1.105470,1.007835,1.756846,1.221617,1.351478
2025-09-30,-0.233557,-0.239373,-0.854459,-0.499871,-0.070392,0.121072,-0.290411,0.015875,-0.352797,0.028085,...,2.380600,1.796391,1.254615,1.066995,1.646200,1.036480,1.062832,1.811914,1.225127,1.224517
2025-10-31,0.152122,0.082106,0.241743,-0.303759,0.896220,-0.129152,-1.035835,-0.100684,-0.491507,-0.465646,...,2.149279,1.677531,1.225033,0.893262,1.739927,0.956747,0.992767,1.757298,1.175445,1.409002

In [26]:
X.to_parquet('../data/features_monthly.parquet')
X.tail()

,mom_1m__A,mom_1m__AA,mom_1m__AAL,mom_1m__AAMI,mom_1m__AAOI,mom_1m__AAON,mom_1m__AAP,mom_1m__AAPL,mom_1m__AAT,mom_1m__ABBV,...,beta_24m__ZG,beta_24m__ZION,beta_24m__ZIP,beta_24m__ZM,beta_24m__ZS,beta_24m__ZTS,beta_24m__ZUMZ,beta_24m__ZVRA,beta_24m__ZWS,beta_24m__ZYME
Date,,,,,,,,,,,,,,,,,,,,,
2025-06-30,-0.049419,0.124755,-0.307616,0.373234,2.172669,-1.094658,-0.356271,-0.168971,-0.220252,-0.256682,...,2.430737,1.901591,1.621839,1.019956,1.553613,1.098820,0.990993,1.631567,1.233384,1.264668
2025-07-31,-0.313940,-0.165358,-0.134381,0.456958,-0.623500,0.260831,0.312511,-0.179576,-0.355560,-0.123240,...,2.440343,1.715085,1.561473,0.976773,1.505569,1.043574,0.937449,1.734127,1.226557,1.350607
2025-08-31,0.023469,-0.036853,0.272299,0.474085,-0.107394,-0.340475,0.220516,0.113958,0.037012,0.090452,...,2.450951,1.692353,1.510195,0.982606,1.487521,1.105470,1.007835,1.756846,1.221617,1.351478
2025-09-30,-0.233557,-0.239373,-0.854459,-0.499871,-0.070392,0.121072,-0.290411,0.015875,-0.352797,0.028085,...,2.380600,1.796391,1.254615,1.066995,1.646200,1.036480,1.062832,1.811914,1.225127,1.224517
2025-10-31,0.152122,0.082106,0.241743,-0.303759,0.896220,-0.129152,-1.035835,-0.100684,-0.491507,-0.465646,...,2.149279,1.677531,1.225033,0.893262,1.739927,0.956747,0.992767,1.757298,1.175445,1.409002

In [27]:
X.filter(like='mom_6m__').mean(axis=1).tail()

Date
2025-06-30   -0.208304
2025-07-31   -0.233957
2025-08-31    0.069350
2025-09-30    0.318197
2025-10-31    0.365992
dtype: float64

In [28]:
X.filter(like='mom_6m__').std(axis=1, ddof=1).tail()

Date
2025-06-30    1.142677
2025-07-31    1.142814
2025-08-31    1.166315
2025-09-30    1.287014
2025-10-31    1.347377
dtype: float64